[user]
	name = Anoop Varghese
	email = anupvarghese@gmail.com
	signingkey = 5EE500E17DE91EA1

[github]
  user = anupvarghese

[core]
	excludesfile = ~/.gitignore_global

[mergetool]
	keepBackup = false

[credential]
	helper = osxkeychain

[commit]
	gpgsign = true

[includeIf "gitdir:~/Documents/work/"]
  path = ~/.work/.gitconfig