[user]
	name = Anoop Varghese
	email = avarghese@atlassian.com
	signingkey = 5EE500E17DE91EA1

[github]
  user = anupvarghese

[core]
	excludesfile = /Users/anupvarghese/.gitignore_global

[mergetool]
	keepBackup = false

[credential]
	helper = osxkeychain